#============================================================================
# GPXrouteConverter for VfrFlight
# Since       : 4/1/2020
# Author      : Alberto Realis-Luc <alberto.realisluc@gmail.com>
# Web         : https://www.alus.it/airnavigator/gpx.php
# Repository  : https://github.com/alus-it/GPXrouteConverter.git
# Copyright   : (C) 2019-2020 Alberto Realis-Luc
# License     : GNU GPL v3
#
# This source file is part of GPXrouteConverter project
#============================================================================

# Ignore bin and build folders
/bin/

# Compiled Object files
*.class

# Ignore Eclipse project files
.project
.cproject
.classpath
.settings/*

